.peg-container {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary-600);
    gap:20px;
}

.btnPegSolitaire {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: #02a602;
    font-size: var(--font-size-large);
    color: #054305;
    cursor: pointer;
}

.controlsPegSolitaire {
    display:flex;
    justify-content: space-between;
    
    position: absolute;
    top: 0;
    left: 0;
    
    gap:10px;
    width: 100%;
    padding: 10px;
    pointer-events: none;
}

.controlsPegSolitaire button {
    pointer-events: auto;
}

.buttonsPegSolitaire {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btnRestartPeg, #btnMenuPeg, #btnRetryPeg, #btnMutePeg {
    width: 100%;
    height: fit-content;
    font-size: var(--font-size-small);
    
    background: linear-gradient(145deg, #774c24, #cd853f);
    border: 2px solid #5c3a1e;
    border-radius: 8px;
    color: #fff6e5;
    font-weight: bold;
    text-shadow: 1px 1px 2px #3e240e;
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.2),
                0 3px 5px rgba(0, 0, 0, 0.4);
    padding: 8px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#btnMutePeg {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 10;

    font-size: var(--font-size-large);
    height: auto;
    width: auto;
}


#btnRestartPeg:hover, #btnMenuPeg:hover, #btnRetryPeg:hover, #btnMutePeg:hover{
  background: linear-gradient(145deg, #a06b35, #deb887);
  transform: translateY(-2px);
}

#btnRestartPeg:active,  #btnMenuPeg:active, #btnRetryPeg:active, #btnMutePeg:active {
  background: linear-gradient(145deg, #6e431d, #b07a43);
  transform: translateY(1px);
}

.infoPegSolitaire {
    color: #6e431d;
    font-weight: bold;
    font-size: var(--font-size-large);
}

canvas#pegCanvas {
  border-radius: 12px 12px 0 0;
  box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  touch-action:none;
  cursor:grab;
}

#messageContainerPeg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: var(--grey-100);
    font-family: var(--font-base);
    font-size: 50px;

    backdrop-filter: blur(15px);
    border-radius: 12px 12px 0 0;
}

#messageContainerPeg.visible{
    display: flex;
}

#btnRetryPeg {
    width: 50%;
    height: 10%;
    font-size: var(--font-size-huge);
}

#menu-Peg-Solitaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu-Peg-Solitaire p {
    color: #036912;
    font-family: var(--font-base);
    font-weight: bold;
}

#menu-Peg-Solitaire p.title-Peg-Solitaire {
    font-size: var(--font-size-extra-large);
}

#menu-Peg-Solitaire p.text-piece-select{
    font-family: 'Minecraftia', sans-serif; 
    font-size: var(--font-size-medium);
    color: var(--grey-200);
    text-transform: uppercase;
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 rgba(0,0,0,0.8);

}

#menu-Peg-Solitaire button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#peg-pieces-container button.selected {
    transform: scale(1.1);
    transition: transform 0.2s, outline 0.2s;
    filter: drop-shadow(-2px -2px 3px rgba(0, 255, 0, 0.4))
        drop-shadow(2px -2px 3px rgba(0, 255, 0, 0.4))
        drop-shadow(-2px 2px 3px rgba(0, 255, 0, 0.4))
        drop-shadow(2px 2px 3px rgba(0, 255, 0, 0.4));
}

#peg-pieces-container button.selected img {
  transform: scale(1.15);
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

#peg-pieces-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 0px;
    box-sizing: border-box;
}

#peg-pieces-container img{
    width: 60px;
    height: 60px;
    object-fit: contain;

    filter: drop-shadow(0 0 8px rgba(0, 255, 0, 0.7)); 
    transition: filter 0.3s, transform 0.3s;
}

#peg-pieces-container button:hover img {
  transform: scale(1.15);
  filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.8));
}

#peg-pieces-container button{
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.gameplay-images{
    grid-template-columns: 1fr 1fr 1fr ;
}

