.peg-container {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary-600);
    gap:20px;
}

.controlsPegSolitaire {
    margin-left:16px;
    display:flex;
    flex-direction:column;
    gap:10px
}
.controlsPegSolitaire .infoPegSolitaire{
    margin-bottom:6px
}

.controlsPegSolitaire button {
    padding:8px 12px;
    border-radius:8px;
    border:none;
    background:var(--accent);
    color:#111;
    font-weight:600;
    cursor:pointer
}


:root{
  --bg: #0e1420;
  --panel: #0f1724;
  --accent: #f0c040;
}

canvas#pegCanvas {
  border-radius:12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.6);
  touch-action:none;
  cursor:grab;
}

.controlsPegSolitaire{
    position: absolute;
    top:0;
    right: 0;
    margin-left:16px;
    display:flex;
    flex-direction:column;
    gap:10px
}

.controlsPegSolitaire .infoPegSolitaire{
    margin-bottom:6px
}

.controlsPegSolitaire button{
    padding:8px 12px;
    border-radius:8px;
    border:none;
    background:var(--accent);
    color:#111;
    font-weight:600;
    cursor:pointer
}
