.blocka-container {
    position: relative;
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px 15px 0px 0px;
    background-color: var(--primary-600);
}

#buttons-blocka {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    backdrop-filter: blur(10px);
}

#nextLevelBlocka,
#retryLevelBlocka,
#returnBeginningBlocka {
    display: none;
}

#startBtnBlocka {
    display: block;
}

.menu-button-blocka {
    border: none;
    color: var(--secondary-200);
    cursor: pointer;
}

.menu-button-blocka {
    padding: 10px;
    border-radius: 15px;
    background-color: var(--secondary-700);
    font-size: var(--font-size-large);
}

.labelDifficultyLevel {
    font-size: var(--font-size-large);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.9));
}

#helpBtnBlocka {
    display: none;
    position: absolute;
    bottom: 15px;
    right: 15px;

    height: 38px;
    background: none;
    border: none;
}

#timerBlocka {    
    font-size: var(--font-size-extra-large);
    color: var(--secondary-200);
}

.timer-container-blocka {
    display: none;

    position: absolute;
    top: 10px;
    right: 10px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container-blocka p {
    font-size: var(--font-size-extra-large);
    margin: 0;
}

#message {
    font-size: var(--font-size-huge);
    color: #02ca02;
}

#puzzle-completion-time {
    font-size: var(--font-size-huge);
    color: var(--accent-700);
}

#message-container-blocka {
    display: none;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-button#startBtnBlocka,
.post-button#helpBtn{
    width:fit-content;
}

#gameOptionsMenuBlocka{
    display: none;
    position: absolute;
    top: 1%;
    left: 1%;
    height: 38px;

    background: none;
    border: none;
}

#gameOptionsMenuBlocka img,
#helpBtnBlocka img {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    cursor: pointer;
}

.blocka-container img {
    width: 100%;
    height: 100%;
    background: none;
}

.currentLevelPlaying {
    /* position: absolute;
    top: 1%;
    right: 1%; */

    font-size: var(--font-size-extra-large);
    display: none;
}